<div class="container sizze">
    <h1 style="text-align: center;"> Signup</h1>
    <form>

       <div style="display: flex;">

        <div class="mb-3" style="width: 50%;">
            <label for="exampleInputEmail1" class="form-label">First Name</label>
            <input type="text" class="form-control" id="fname" aria-describedby="emailHelp">
        </div>

        <div class="mb-3"  style="width: 50%; margin-left: 2%;">
            <label for="exampleInputEmail1" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lname" aria-describedby="emailHelp">
        </div>

       </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="mb-3" >
            <label for="exampleInputEmail1" class="form-label">City</label>
            <input type="text" class="form-control" id="city" aria-describedby="emailHelp">
        </div>

        <div style="display: flex;justify-content: center;">
            <button type="submit"  class="btn btn-primary">login</button>
            <a routerLink="register" ><button style="margin-left: 10px;" type="button" class="btn btn-success">Signup</button></a>
            
        </div>

       
      </form>
    
</div>